.title {
    font-size: 48px;
    font-weight: 600;
    font-family: var(--font-poppins);
}

.title-nav {
    font-size: 24px;
    font-weight: 600;
    font-family: var(--font-poppins);
}

.text {
    font-size: 16px;
    font-weight: 300;
    font-family: var(--font-poppins);
}