main{
    padding: 0 2vw;
}

nav{
    height: 8vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 2vw;
    border-bottom: 2px solid var(--cor-dark);

    flex-flow: row wrap;
}

.BoxGroup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    flex-flow: row wrap;
    gap: 8px;
}

.Box{
    width: 16vw;
    height: 120px;
    background-color: var(--cor-dark);
    color: var(--cor-light);
    border-radius: 8px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    min-width: 200px;
    gap: 16px;
}

.BoxTotal {
    background-color: var(--cor-azul);
}

.Graphic{
    width: 100%;
    margin: 40px 0;
}

.inputs {
    display: flex;
    gap: 16px;
}

#Date, #Time {
    font-family: var(--font-poppins);
    padding: 6px 12px;
}

input, select {
    border: 2px solid var(--cor-dark);
    border-radius: 8px;
}

@media (max-width: 800px) {
    nav {
        justify-content: center;
        gap: 8px;
        height: auto;
        padding: 16px;
    }
    .BoxGroup{
        margin-top: 8px;
    }
    .Container {
        overflow-x: scroll;
        height: auto;
    }
    .Graphic{
        width: 1000px;
        height: 500px;
        margin: 40px 0;
    }
}