@import url('reset.css');
@import url('variables.css');
@import url('tipography.css');

.selectCourse {
    position: absolute;
    top: 24px;
    left: 24px;
}

h1 {
    margin-top: 72px;
}

.BlueBackground{
    height: 24vh;
    width: 100vw;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;

    position: relative;
    top: 0;
    left: 0;
    right: 0;

    background-color: var(--cor-azul);
}

.back {
    background-color: #fff;

    width: 80px;
    height: 80px;

    border-radius: 24px;

    position: relative;
    left: 24px;
    top: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

.back a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: row;
    gap: 42px;

    width: 80vw;
    height: auto;
    overflow-x: scroll;

    margin: 32px auto;

    padding: 42px;
}

main .col {
    display: flex;
    flex-direction: column;

    gap: 72px;
}

main .col button {
    background-color: var(--cor-light);

    border-radius: 32px;
    background: var(--cor-light);
    border: 2px solid var(--cor-azul);
    box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);

    width: 300px;
    height: 200px;
}

.material-symbols-outlined {
    padding-left: 4px;
}