.selectCourse {
    position: absolute;
    top: 100px;
    left: 250px;
}

.back {
    background-color: #fff;

    width: 80px;
    height: 80px;

    border-radius: 24px;

    position: relative;
    right: 164px;
    bottom: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 120px;  
    padding-top: 160px;
}

main .col {
    display: flex;
    flex-direction: column;

    gap: 88px;
}

main .col a {
    width: 467px;
    height: 280px;

    background-color: var(--cor-light);

    border: 4px solid var(--cor-azul);
    border-radius: 58px;
}