@import url('reset.css');
@import url('variables.css');
@import url('tipography.css');  

.back {
    background-color: #fff;

    width: 80px;
    height: 80px;

    border-radius: 24px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    position: relative;
    left: 24px;
    top: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

.back a {
    text-decoration: none;
}

.divUsuarios {
    border: 4px solid #008FFB;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;    
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 96px;
}

.titulo {
    height: 24vh;
    width: 100vw;
    border-color: #008FFB;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #008FFB;
    flex-direction: column;
}

path {
    display: flex;
    justify-content: center;
    align-items: center;
}

.usuarios {
    background-color: #008FFB;
    border-radius: 24px;
    border: none;
    width: 70vw;
    height: 10vh;
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    color: white;
    margin: 24px 24px;
}

.btn_voltar {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 16px;
}

.voltar{
    width: 30px;
    height: 30px;
}